body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.customers {
  display: flex;
  flex-wrap:wrap;
  font-family: sans-serif;
  margin: 20px;
  padding-left: 20px;
  padding-right:20px;

}
.thumbnail{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

 .thumbnail img {
   justify-content: center;
  width: 100px;
  height: auto;
}
h1{
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #3FA979;
  font-size: 16pt;
  border-bottom: 2px solid rgb(105, 184, 143);

}

h3 {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #3FA979;
  font-size: 16pt;
  border-bottom: 2px solid rgb(105, 184, 143);

}

P{

display: flex;
justify-content: center;
text-transform: capitalize;
margin:2px;

}


.address {
  display: block;
  background-color: white;
  color: green;
  font-weight: 500;
  text-align: center;
  padding 5px 0;
  text-transform: uppercase;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.blur:hover {
  color: rgb(105, 184, 143);
  text-shadow: none;
}
